
.advertising{
    text-align: center;
}

.winner{
    height: 73px;
    width: 304px;
   margin-bottom: 5px;
}

.row{
    width: 100%;
   margin: auto;
   text-align: center;
}

.main-article{
    margin-left: 0;
}

#main{
    width: 1032px;
    margin: 0 auto;
    direction: rtl;
}

.winner-2{
    
    height: 65px;
    width: 304px;
    background-image: url(https://www.sport5.co.il/Sip_Storage/FILES/9/1359909.jpg);
    margin-top: 10px;
}

.chat-sport{
    margin-top: 10px;
}

.chat-sport{
    margin-left: 30px;
}

.articles{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 10px;
}

.articles img{
    width: 210px;
    height: 156px;
}

.articleBannerSpace{
    width: 66.66%;
    float: left;
}



.mini-articles{
    direction: rtl;
}

.mini-articles span{
    display: block;
    font: 16px/18px 'blender-regular','Mukta-ExtraBold','south web',Arial,Helvetica,sans-serif;
    line-height: 20px;
    padding: 0;
    text-align: right;
}

.mini-articles h4{
    font-family: sans-serif;
    height: auto;
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 18px;
    font-weight: bold;
}

.mini-articles a{
    color: black;
    text-decoration: none;
}

.mini-articles p{
    text-align: right;
    margin-top: 30px;
}